<h2><%= link_to(portfolio_item.title, portfolio_path(portfolio_item)) %></h2>

<p><%= portfolio_item.subtitle %></p>
<p><%= portfolio_item.body %></p>
<p><%= image_tag(portfolio_item.thumb_image) %></p>
<%= link_to("Edit", edit_portfolio_path(portfolio_item)) if logged_in?(:site_admin) %>
<%= link_to("Show", show_portfolio_path(portfolio_item)) %>
<%= link_to("Delete", portfolio_path(portfolio_item), method: :delete, data: { confirm: "Are you sure?" }) if logged_in?(:site_admin) %>