<h1>Show Portfolio item</h1>

<p><%= image_tag(@portfolio_item.main_image) %></p>
<h2><%= @portfolio_item.title %></h2>
<p><%= @portfolio_item.subtitle %></p>
<p><%= @portfolio_item.body %></p>

<h2>Technologies used:</h2>
<% @portfolio_item.technologies.each do |t| %>
  <p><%= t.name %></p>
<% end %>

<%= link_to("Edit", edit_portfolio_path(@portfolio_item)) %>