<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <%= render partial: "shared/flash" %>
  <%= login_helper %>
  <%= yield %>
  <%= render partial: "shared/nav" %>
  <%= source_helper %>

</body>
</html>
